.topics {
  width: 100%;
  display: flex;

  &__topicsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &--list {
      &__topicsTitle {
        margin-top: 10px !important;
        color: black;
      }
    }
  }
}

.listWrapper {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  box-shadow: 5px 5px 5px black;
  width: 90%;
  max-height: 500px;

  &:hover {
    padding: 15px;
  }
}

.userAvatar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &__nameSurname {
    margin-left: 7px !important;
    font-style: italic;
    font-weight: 900 !important;

    span {
      text-transform: capitalize;
      cursor: auto !important;
      font-style: normal !important;
      font-weight: normal !important;
    }
  }
}
