.login {
  height: calc(100vh - 55px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(134, 151, 132, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/768473/pexels-photo-768473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
}

.loginBorder {
  padding: 10px 30px;
  width: 275px;
  height: 500px;
  background-color: rgba(52, 54, 51, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginBorderDown {
  display: flex;
  flex-direction: column;
}

.loginTitle {
  font-size: 45px;
  display: flex;
  flex-direction: column;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 10px 0;
}

.loginInput {
  padding: 13px;
  background-color: white;
  border: none;
  border-radius: 10px;
  width: 200px;
  align-items: center;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.loginRegisterButton {
  background-color: teal;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
  align-items: unset !important;
}

form small {
  text-align: right;
  transform: translateY(-50);
  cursor: pointer;
  opacity: 0.5;
}

.eyesOnPassword {
  margin-left: -30px;
  cursor: pointer;
  margin-top: 10px;
}

.loginTextAcount {
  padding: 10px;
}
