.singlePost {
  flex: 9;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
  margin-top: 10px !important;
  background-color: #f8f7f7;
}

.singlePostavatarTime {
  /* background-color: #a8c2ad; */
  margin-top: 20px !important;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.avatarPostSingle {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}

.singlePostImg {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  /* object-fit: cover; */
  margin-bottom: 15px !important;
}

.singlePostTitle {
  text-align: center;
  /* padding: 15px; */
  font-size: 28px;
  font-family: "Lora", sans-serif;
  color: saddlebrown;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.singlePostEdit {
  float: right;
  font-size: 16px;
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}
.singlePostIcon:last-child {
  color: tomato;
}

.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #be9656;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.singlePostAuthor {
  margin-left: 5px;
}

.singlePostDesc {
  color: #666;
  font-size: 18px;
  line-height: 25px;
  margin-top: -15px;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}
