.changePassword {
  display: flex;

  &__changePasswordWrapper {
    flex: 9;
    padding: 20px;

    &--changePasswordForm {
      display: flex;
      flex-direction: column;

      > input {
        color: gray;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 30px;
        border: none;
        border-bottom: 1px solid lightgray;
      }

      .userId {
        display: none;
      }

      > label {
        font-size: 20px;
        margin-top: 20px;
      }

      &__changePasswordButton {
        align-self: center;
        width: 150px;
        border: none;
        border-radius: 10px;
        color: white;
        background-color: teal;
        padding: 10px;
        margin-top: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__changePasswordButton:hover {
        background-color: rgb(1, 114, 114);
      }
    }
  }
}
