.postlked {
  width: 385px;
  margin: 0px 25px 40px 25px;
  display: flex;

  &__postlkedLink {
    text-decoration: none;
    margin: 5px;

    &--postImgliked {
      width: 155px;
      height: 170px;
      object-fit: cover;
      border-radius: 7px;
      margin-left: 10%;
      margin-right: 5%;
    }
  }

  &__posttextinfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    &--postInfo {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      &__likedPostTitle {
        font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 900;
        margin-top: 0px;
        cursor: pointer;
        margin-left: 15px;

        &--link {
          text-decoration: none;
        }
      }
    }

    &--postlkedLink {
      text-decoration: none;
      margin: 5px;

      &__likedPostDesc {
        font-family: "Varela Round", Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #444444;
        margin-top: -20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        margin-left: 15px;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }

    &--extrainfo {
      display: flex;
      margin-left: 15px;

      svg {
        cursor: pointer;
      }

      &__postDate {
        font-family: "Lora", serif;
        font-style: italic;
        font-size: 13px;
        font-weight: 400;
        color: #999999;
        margin-top: 15px;
      }
    }
  }
}
