.buttonPartNewPost {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topicTextofNewPost {
  margin-top: 10px;
  text-align: center;
}

.hideImg {
  display: none;
}
