.countryFilterTitle {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  svg {
    font-size: 2rem;
  }
}

.countryList {
  list-style: none;
  padding-left: 0px;

  &__country {
    padding: 5px;
    width: 100%;
    margin-top: 1px;
    cursor: pointer;
  }

  &__country:hover {
    background-color: black;
    color: white;
    padding: 6px;
    border-color: white;
  }
}
