.settings {
  display: flex;

  &__settingsWrapper {
    flex: 9;
    padding: 20px;

    &--settingsForm {
      display: flex;
      flex-direction: column;

      &__ppimg {
        height: 200px;
        width: 200px;
        border-radius: 20px;
        object-fit: cover;
      }
      &__settingsPP {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      > label {
        font-size: 20px;
        margin-top: 20px;
      }

      > input {
        color: gray;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 30px;
        border: none;
        border-bottom: 1px solid lightgray;
      }

      &__settingsSubmitButton {
        align-self: center;
        width: 150px;
        border: none;
        border-radius: 10px;
        color: white;
        background-color: teal;
        padding: 10px;
        margin-top: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__settingsSubmitButton:hover {
        background-color: rgb(1, 114, 114);
      }

      &__settingsSubmitButton:focus {
        outline-style: none;
      }
    }
    &--settingsTitleDelete {
      color: red;
      font-size: 12px;
      cursor: pointer;
      padding: 5px;
      margin-left: 5px;
    }
  }
}
