.topicPost {
  display: flex;

  &__topicPostContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    position: relative;

    &--topicHeader {
      display: flex;
      align-items: center;
      justify-content: center;

      > h1 {
        color: black;
        padding: 50px;
        text-decoration: underline;
      }

      > img {
        width: 100px;
      }
    }
  }
}
