.topicPostContainer{
    display: flex;
    flex-direction: column;
    margin: 20px;
    position: relative;
}

.topicPostContainer .topicHeader{
    display: flex;
}

.topicPostContainer .topicHeader h1 {
    color: black;
    padding:50px;
    text-decoration: underline;
}

.topicPostContainer .topicHeader img {
    width: 100px
}

.topicPostContainer .newPostAddSection {
    position: fixed;
    bottom: 0;
    right: 0;
    
}