.likeUserfollowAvatarBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px !important;
}

.likeUserFollowAvatarName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likeUserFollowAvatar {
  margin-right: 7px !important;
}

.likeUserFollowButton {
  background-color: rgb(148, 58, 204) !important;
}
