.postContent {
  width: 100% !important;
  margin: 30px 25px 20px 25px;
  display: flex;
  -webkit-box-shadow: 20px 12px 50px -7px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 1px 90px -7px rgba(0, 0, 0, 0.09);
  max-height: 280px !important;
  /* background-color: #999999; */

  &__postFaceDoc {
    width: 100% !important;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    /* background-color: #be9656; */

    &--postImgFakeDOc {
      width: 255px;
      height: 250px;
      object-fit: cover;
      border-radius: 100% 0% 91% 9% / 12% 100% 0% 88%;
      /* margin-left: 2%;
            margin-right: 5%; */
    }

    &--postInfoHomePage {
      text-decoration: none !important;
      width: 100%;
      min-height: 210px;
      display: flex;
      flex-direction: column !important;
      justify-content: center !important;
      text-align: center !important;
      margin: 0px 3px;
      /* background-color: #dcd8d3; */

      &__postTitle {
        /* background-color: red; */
        text-decoration: none;
        font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 900;
        margin-top: 15px;
        cursor: pointer;
      }
      &__postDesc {
        /* margin-left: 5%; */
        font-family: "Varela Round", Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #444444;
        margin-top: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }
  }
}
