.topicpostContent {
  width: 100% !important;
  margin: 34px 25px 20px 25px;
  display: flex;
  -webkit-box-shadow: 20px 12px 50px -7px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 1px 90px -7px rgba(0, 0, 0, 0.09);
  /* background-color: #be9656; */
}

.topicpost {
  width: 100% !important;
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
  /* background-color: #56be85; */
}

.topicpostIcons {
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: -14px;
  margin-right: 5px;
  /* background-color: rgb(217, 135, 217); */
}

.topicpostIconsUsername {
  text-decoration: none;
}

.topicpostIcons .topicpostIconsUsername:hover {
  color: rgb(57, 166, 95) !important;
}

.topicpostAvatarIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #999999; */
}

.topicpostImg {
  width: 155px;
  height: 210px;
  object-fit: cover;
  border-radius: 100% 0% 91% 9% / 12% 100% 0% 88%;
  margin-left: 2%;
  margin-right: 2%;
}

.topicpostImg:hover {
  box-shadow: 0px 0px 55px 1px rgba(32, 77, 21, 0.4);
}

.topicposttextinfo {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.topicextrainfo {
  display: flex;
  text-decoration: none;
}
.topicpostInfoHomePage {
  text-decoration: none !important;
  width: 100%;
  min-height: 210px;
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  text-align: center !important;
  margin: 0px 3px;
  /* background-color: #dcd8d3; */
}

.topicpostCat {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #be9656;
  line-height: 19px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.topicpostTitle {
  /* background-color: red; */
  text-decoration: none;
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-top: 15px;
  cursor: pointer;
}

.topicpostTitleLink {
  text-decoration: none;
}

.topicpostDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 13px;
  font-weight: 400;
  color: #999999;
  margin-top: 15px;
}

.topicpostDesc {
  /* margin-left: 5%; */
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #444444;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.topicactiveIcon {
  padding: 2px;
}

.topicPosttextDate {
  text-decoration: none;
  width: 100%;
}
